.footer {
  background: linear-gradient(to right, #fbc531, #e84118);
  color: #fff;
  padding: 50px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.footer-wrapper {
  max-width: 1200px;
  margin: auto;
}

.footer-logo h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  margin-bottom: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.footer-column p {
  font-size: 14px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.footer-column i {
  margin-right: 8px;
}

.social-icons a {
  display: inline-block;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: background 0.3s;
}

.social-icons a:hover {
  background-color: #fff;
  color: #e84118;
}



.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
}
